using Microsoft.AspNetCore.Hosting;
using Microsoft.Extensions.Hosting;
using Amazon.Lambda.Core;

namespace KlothoRuntime
{
    public class APIGatewayLambdaDispatcher : {{if .Expose.APIGatewayProxyFunction}}{{.Expose.APIGatewayProxyFunction}}{{else}}{{.Expose.FunctionType}}{{end}}
    {
        protected override void Init(IWebHostBuilder builder)
        {
            LambdaLogger.Log("Initializing execution unit: {{.ExecUnitName}}");
{{if .Expose.APIGatewayProxyFunction }}
            base.Init(builder);
{{else if .Expose.StartupClass }}
            builder.UseStartup<{{.Expose.StartupClass}}>();
{{else}}
            LambdaLogger.Log("{{.ExecUnitName}} is No-Op: No handler detected");
{{end}}
        }

        protected override void Init(IHostBuilder builder)
        {
{{if .Expose.APIGatewayProxyFunction }}
            base.Init(builder);
{{end}}
        }
    }
}
