# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
coverage.out
coverage.xml

# Dependency directories (remove the comment below to include it)
# vendor/

/_antlr-grammars/

/compiled*/

.vscode/launch.json

# Go generated template files
secret.js.tmpl
keyvalue.js.tmpl 

#OS X things
*.DS_Store*

node_modules/
/*.yaml
/_samples/

go.work
go.work.sum


/engine
/iac
/klotho

*.gv
*.gv.svg

*.log

*.key

/logs
__debug_bin*
.k2/