//@ts-nocheck
'use strict';
Object.defineProperty(exports, "__esModule", { value: true });
exports.getDataSourceParams = exports.getDBConn = void 0;
const ormPrefix = '{{.AppName}}';
function getDBConn(dbName) {
    const conn = process.env[`${dbName.toUpperCase()}_PERSIST_ORM_CONNECTION`];
    return conn;
}
exports.getDBConn = getDBConn;
function getDataSourceParams(dbName, params) {
    let newParams = { ...params };
    const fieldsToDelete = ['host', 'type', 'port', 'username', 'passowrd', 'database'];
    for (const field of fieldsToDelete) {
        delete newParams[field];
    }
    return {
        ...newParams,
        type: 'postgres',
        url: getDBConn(dbName),
    };
}
exports.getDataSourceParams = getDataSourceParams;
