//@ts-nocheck
'use strict';
Object.defineProperty(exports, "__esModule", { value: true });
exports.readFile = void 0;
const client_secrets_manager_1 = require("@aws-sdk/client-secrets-manager");
const client = new client_secrets_manager_1.SecretsManagerClient({});
const secretPrefix = '{{.AppName}}';
async function readFile(path) {
    try {
        const cmd = new client_secrets_manager_1.GetSecretValueCommand({ SecretId: `${secretPrefix}-${path}` });
        const data = await client.send(cmd);
        if (data.SecretBinary) {
            return Buffer.from(data.SecretBinary);
        }
        if (data.SecretString) {
            return Buffer.from(data.SecretString, 'utf-8');
        }
        throw new Error(`Empty secret for ${path}`);
    }
    catch (err) {
        throw new Error(`Could not read secret '${path}'`);
    }
}
exports.readFile = readFile;
