qualified_type_name: kubernetes:horizontal_pod_autoscaler
display_name: Horizontal Pod Autoscaler
sanitize_name:
  # a lowercase RFC 1123 subdomain must consist of lower case alphanumeric characters, '-' or '.',
  # and must start and end with an alphanumeric character
  # (e.g. 'example.com', regex used for validation is '[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*')]
  |
  {{ . 
    | replace `[^a-zA-Z0-9-]+` "" | replace `^[-]+` "" | replace `[-]+$` ""
  }}

properties:
  Cluster:
    type: resource
    operational_rule:
      steps:
        - direction: downstream
          resources:
            - classifications:
                - cluster
                - kubernetes
  Object:
    type: map
    properties:
      kubernetes:TypeMeta:
        type: model
        default_value:
          apiVersion: autoscaling/v1
          kind: HorizontalPodAutoscaler
      metadata:
        type: model(kubernetes:ObjectMeta)
      spec:
        type: map
        properties:
          scaleTargetRef:
            type: map
            properties:
              kind:
                type: string
              name:
                type: string
              apiVersion:
                type: string
          minReplicas:
            type: int
          maxReplicas:
            type: int
          metrics:
            type: list
            properties:
              type:
                type: string
              resource:
                type: map
                properties:
                  name:
                    type: string
                  target:
                    type: map
                    properties:
                      type:
                        type: string
                      averageUtilization:
                        type: int
                      averageValue:
                        type: string
                      value:
                        type: string

classification:
  is:
    - kubernetes
  gives:
    - scalability:compute
    - highly_available:compute

delete_context:
  requires_no_upstream_or_downstream: true
views:
  dataflow: small
