{
    apiVersion: {{parseVal .ApiVersion}},
    command: {{parseVal .Command}},
    args: (() => {
        let args = {{ parseVal .Args}}
        if (awsProfile) {
            args.push('--profile', awsProfile)
        }
        return args
    })()
}