{
    {{- if .AcmCertificateArn }}
    acmCertificateArn: "{{ .AcmCertificateArn }}",
    {{- end }}
    {{- if .IamCertificateId }}
    iamCertificateId: "{{ .IamCertificateId }}",
    {{- end }}
    {{- if and .CloudfrontDefaultCertificate (not .AcmCertificateArn) (not .IamCertificateId) }}
    cloudfrontDefaultCertificate: "{{ .CloudfrontDefaultCertificate }}",
    {{- end }}
    {{- if .SslSupportMethod }}
    sslSupportMethod: "{{ .SslSupportMethod }}",
    {{- end }}
    {{- if .MinimumProtocolVersion }}
    minimumProtocolVersion: "{{ .MinimumProtocolVersion }}",
    {{- end }}
}