{
    enabled: {{ .Enabled }},
    {{- if .HealthyThreshold }}
    healthyThreshold: {{ .HealthyThreshold }},
    {{- end }}
    {{- if .Interval }}
    interval: {{ .Interval }},
    {{- end }}
    {{- if .Matcher }}
    matcher: {{ modelCase .Matcher }},
    {{- end }}
    {{- if .Path }}
    path: {{ modelCase .Path }},
    {{- end }}
    {{- if .Port }}
    port: "{{ .Port }}",
    {{- end }}
    {{- if .Protocol }}
    protocol: {{ modelCase .Protocol }},
    {{- end }}
    {{- if .Timeout }}
    timeout: {{ .Timeout }},
    {{- end }}
    {{- if .UnhealthyThreshold }}
    unhealthyThreshold: {{ .UnhealthyThreshold }}
    {{- end }}
}