apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    execUnit: {{ .ExecUnitName }}
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      execUnit: {{ .ExecUnitName }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        execUnit: {{ .ExecUnitName }}
        elbv2.k8s.aws/pod-readiness-gate-inject: enabled
    spec:
      containers:
      - image: REPLACE_ME
        name: {{ .Name }}
      serviceAccount: {{ .ServiceAccountName }}
      serviceAccountName: {{ .ServiceAccountName }}
