apiVersion: v1
automountServiceAccountToken: true
kind: ServiceAccount
metadata:
  {{- if .IRSA }}
  annotations:
    eks.amazonaws.com/role-arn: REPLACE_ME
  {{- end }}
  name: {{ .Name }}
  namespace: {{ .Namespace }}
