[
 {{- range $key, $value := . }}
 {
    name: {{ modelCase $value.name }},
    cluster: {
        {{- range $key, $value := $value.cluster }}
        {{- if eq $key "server" }}
        "server": {{ modelCase $value }},
        {{- else if eq $key "certificateAuthorityData" }}
        "certificate-authority-data": {{ modelCase $value }},
        {{- end }}
        {{- end }}
    },
 },
 {{- end }}
]