[
    {{- range $i, $volume := .M }}
    { 
        name: "{{ $volume.Name }}",
        efsVolumeConfiguration: {
            fileSystemId: {{ getVar $volume.FileSystem }}.id,
            {{- if $volume.AuthorizationConfig }}
            authorizationConfig: {
                accessPointId: {{ getVar $volume.AuthorizationConfig.AccessPoint }}.id,
                {{- if $volume.AuthorizationConfig.Iam }}
                iam: "{{ $volume.AuthorizationConfig.Iam }}",
                {{- end }}
            },
            {{- end }}
            {{- if $volume.RootDirectory }}
            rootDirectory: "{{$volume.RootDirectory}}",
            {{- end }}
            {{- if $volume.TransitEncryption }}
            transitEncryption: "{{$volume.TransitEncryption}}",
            {{- end }}
            {{- if $volume.TransitEncryptionPort }}
            transitEncryptionPort: {{$volume.TransitEncryptionPort}},
            {{- end }}
        },
    },
    {{- end }}
]