FROM python:3-bullseye

WORKDIR /usr/src/app

COPY {{.ProjectFilePath}} ./

RUN pip install -r {{.ProjectFilePath}}

COPY . ./

ENV PYTHONPATH=.:${PYTHONPATH}

EXPOSE 3000
ENTRYPOINT ["python"]
CMD [ "klotho_runtime/dispatcher.py" ]
