name: Adds all issues to the main project board

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.3.0
        with:
          project-url: https://github.com/orgs/klothoplatform/projects/1
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
